h1 small {
    font-size: 0%;  
}
.myrow {
    font-size: 0;
}
.myrow > * {
    float: none;
    display: inline-block;
    font-size: 14px; /* if using LESS it's quicker to just use @font-size-base */
}
.myrow > *:last-child {
    vertical-align: bottom;
}
.myrow div:last-child {
    margin-bottom: 0; /* optional */
}

h4 {
    margin-bottom: 0;
}
.row.myrow h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.container-fluid {
    margin-left: 15px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    padding-left: 0px;
}

.col-md-12#stocks {
    text-decoration: underline;
}

.row#stocksheader > * {
    text-decoration: underline;
    text-align: center;
}

.row#stocksview {
    text-align: center;
}

.row#stocksview h5 {
    color: blue;
}

.col-md-1#companyname h5 {
    font-weight: bold; 
}

.col-md-2#searchheader {
    margin-top: 0px;
    
}

.col-md-2#searchheader h3 {
    border: solid;
    
    vertical-align: middle;
    
    text-align: center;
}

.row#searchbar {
    padding-bottom: 0px;
    
}


#overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #000;
    opacity: 1;
}

.popupContainer{
    position:absolute;
    z-index: 1000;
    width:330px;
    height: auto;
    left:45%;
    top:80px;
    background: #FFF;
}

.popupHeader {
    text-align: center;
}

.popupBody label{
    padding-left: 10px;
    padding-bottom: 5px;
}


.popupBody{
    text-align: center;
    margin: 0 auto;
}

#searchinput {
    width: 93%;
}

#searchbtn {
    float: right;
}