#welcomebar {
    position: relative;
    width: 100%;
    height: 35px;

    background-color: #2c3e50;

    border-bottom-style: solid;
    border-bottom-color: black;

    margin-top: 7px;
    margin: 0 auto;
    margin-bottom: 7px;

    display: flex;
    justify-content: center;
    align-items: center;
}

#welcomebar-user {

}
#welcomebar-user p{
    margin: 0;
}
#welcomebar-user span {
    color: #e1a701;
    font-weight:bold;
    margin: 0;
}
#welcomebar-clock p {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin: 0;
}
#welcomebar-logout button{
    color: white;
    height: 75%;
}

h1 small {
    font-size: 0%;  
}
.myrow {
    font-size: 0;
}
.myrow > * {
    float: none;
    display: inline-block;
    font-size: 14px; /* if using LESS it's quicker to just use @font-size-base */
}
.myrow > *:last-child {
    vertical-align: bottom;
}
.myrow div:last-child {
    margin-bottom: 0; /* optional */
}

h4 {
    margin-bottom: 0;
}
.row.myrow h1 {
    margin-top: 0;
    margin-bottom: 0;
}

.container-fluid {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    
    padding-left: 0px;
    padding-right: 0px;
}



#keystats {
    height: 140px;
    border-bottom-style: solid;
    border-bottom-color: #2c3e50;
}

#keystats h2 {
    color: #e1a701;
}
#keystats li {
    list-style-type: none;
    font-size: 125%;
    background-color: lightslategrey;
    text-align: center;
    color: #e1a701;
}
#keystats  small {
    color: white;
}

#piechartcontainer {
    width: 150px;
    height: 150px;
}
#graphcontainer {
    margin-left: 0.5%;
    margin-right: 0.5%;
}


#stocks {
    width: 100%;
    color: #e1a701;
    padding-right: 0;
    padding-bottom: 0;
    padding-top: 0;
    margin-bottom: 0;
    margin-top: 0;
    height: auto;
}
#stocksbackground{
    width: 100%;
    background-color: #778899;

}
#stocksheader {
    width: 100%;
    position: relative;
    margin: 0 auto;
    text-decoration: underline;
    text-align: center;

    background-color: #2c3e50;

    padding-bottom:10px;

    border-bottom-style: solid;
    border-bottom-color: black;
}
#stocksview {
    width: 100%;
    height: 140px;

    overflow-y: scroll;

    text-align: center;
    margin: 0 auto;
}
#stocksview h5 {
    color: white;
}
#stocksview.row div.row {
    padding-bottom: 5px;
}
#stocksview.row div.row:hover {
    background-color: #34495e;
}


.col-md-1#companyname h5 {
    font-weight: bold;
}

.row#searchbar {
    padding-bottom: 0px;
    margin-top: 1px;
}

#overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: #34495e;
    opacity: 1;
}
.popupContainer{
    position:relative;
    z-index: 1000;
    width:330px;
    height: auto;
    top:80px;
    background: #2c3e50;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
}
.popupHeader {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
}
.popupBody label{
    padding-right: 10px;
    padding-bottom: 5px;
}
.popupBody{
    text-align: center;
    margin: 0 auto;
}

#findUser, #register {
    margin-bottom: 5px;
    color: black;
}

#searchinput {
    width: 93%;
}
#searchbtn {
    float: right;
    color: black;
}
#search_overlay {
    position: fixed;
    z-index:100;
    top: 0px;
    left: 0px;
    height:100%;
    width:100%;
    background: rgba(0,0,0,.8);
}
#searchmodal {
    margin: 0 auto;
    height: 75%;
    width: 85%;
    z-index:1000;
    background: white;
    color: black;
}
#search-header{
    width: 100%;
    height: 17%;
    margin: 0px;

    border-bottom-style: solid;
    border-bottom-color: black;

    padding: 0px;
}
#name {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}
#name h1 {
    margin: 0;
}
#ticker {
    height: 100%;

    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#ticker h4 {
    margin: 0;
}
#exchangeimg {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}
#exchangeimg img {
    margin: 0;
}
#close {
    width: 100%;
    height: 1%;
    padding-right: 0px;
}
#closebtn {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0;
}

#search-statlineheader {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
#search-statlinehearder.row {
    border-bottom-style: solid;
}
#search-statlineheader h5 {
    width: 125%;

    font-size: 90%;
    font-weight: bold;
    text-align: center;
}
#search-statline {
    width: 100%;
    margin: 0 auto;
}
#search-statline p {
    font-size: 80%;

    text-align: center;
}
#search-graphcontainer {
    height: 40%;
}
#search-input {
    width: 100%;
    height: 10%;
}
#search-input input{
    padding-left: 0;
}
#addbtn {
    text-align:center;
}


input {
    color: #2F4F4F;
}

body {
    width: 100%;
    color: white;
    background-color: #34495e;
}